{% extends "layout.html" %}
{% block body %}
<h1 class="text-center" style="margin-bottom:1.5%">Decrypt</h1>
<div class="container">
    <form action="" method="POST">
        <div class="form-group">
            <h5 style="margin-top: 1.5%">Enter Some Perly Text</h5>
            <textarea name="input" class="form-control big"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Decrypt</button>
    </form>
</div>
<div class="container">
    <div class="form-group">
        <h5 style="margin-top: 1.5%">Decrypted Text</h5>
        <textarea class="form-control big" disabled>{{ text }}</textarea>
    </div>
</div>
{% endblock %}